<div class="prof_header">

  <div class="row">

    <div class="col-xs-2"></div>
    <div class="col-xs-2">
      <%= image_tag @user.photo_url, class: 'prof_pic' %>
    </div>

    <div class="col-xs-8">

      <div class="user_header">

        <div class="row">
          <div class="col-xs-6">
            <h2 class = "username"><%= @user.name %></h2>
          </div>
          <div class="col-xs-4">
            <%= link_to 'EDIT', edit_user_registration_path(@user), class: 'user_edit_button btn btn-default' if user_signed_in? && @user == current_user %>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>


    </div>
    <div class="col-xs-12 text-center"><span class="count"><%= @user.posts.count %></span> posts</div>

  </div>

</div>


<div class="prof_post_box">

  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4 my-post-profile">
    <% @user.posts.each do |post| %>
          <%= image_tag post.photo_url, class: 'prof_show' %>
    <% end %>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>
