<div class="row">
  <div class="col-md-6 col-xs-12 text-center">
    <div class="banner-image">
      <%= image_tag("imageinstapost.png", alt: 'Banner') %>
    </div>
  </div>
  <div class="col-md-4 col-xs-12 text-center login-container">
    <div class="login-pannel">
      
      <h2 class="logo-instapost">Instapost</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, class: 'input-form', placeholder: 'Email' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class: 'input-form',placeholder: 'Password' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: 'label-instapost' %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: 'login-button' %>
        </div>
      <% end %>
    </div>
    <div class="space"></div>
    <div class="other-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col-md-2 col-xs-12">

  </div>
</div>