<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<% @posts.each do |post| %>
<div class="post-breaker"></div>
  <div class="post">
    <div class="user-info">
      <%= image_tag post.user.photo, class: 'user-image' %>
      <%= post.user.name %>
      <% if post.user == current_user %>
      <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle ellipsis" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to 'Edit Post', edit_post_path(post.id) %></li>
            <li><%= link_to 'Delete Post', post_path(post.id), method: :delete %></li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="post-info">
      <div class="picture">
        <%= image_tag post.photo, class: 'img-responsive main-picture' %>
      </div>
      <div class="description">
        <span class="bold"><%= post.user.name %></span>
        <%= post.description %>
      </div>
      <hr>
      <div class="comment">
        <% post.comments.each do |comment| %>
  	     <div><span class="bold"><%= comment.user.name %></span> <%= comment.text %></div>
  	     <% if comment.user == current_user %>
  		    <%= link_to '', post_comment_path(post_id: post.id, id: comment.id),class: 'pull-right delete-comment-button fa fa-trash-o', method: :delete %>
  	     <% end %>	
         <br>	
        <% end %>
        <hr>
      </div>
    </div>
    <div class="comment-box">
	  <% if user_signed_in? %>
  	  <%= simple_form_for Comment.new, url: post_comments_path(post), method: :post do |f| %>
    	  <%= f.input :text, label: false, placeholder: 'Add a comment...', :input_html => { :class => 'comment-box-input' }  %>
    	  <%= f.submit 'Post', class: 'btn btn-primary comment-post-button' %>
  	  <% end %>
    <% end %>
    </div>
  </div>
<% end %>
</div>
<div class="col-md-3"></div>
</div>