<!DOCTYPE html>
<html>
  <head>
    <title>Instapost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container is-navbar">
        <div class="navbar-header">
          <%= link_to 'Instapost', root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to '', new_post_path, class: 'fa fa-comment-o fa-2x' %></li>
            <li><%= link_to '', edit_user_registration_path, class: 'fa fa-cog fa-2x' %></li>
            <li><%= link_to '', user_path(id: current_user.id),class: 'fa fa-user fa-2x' %>
            <li><%= link_to '', destroy_user_session_path, class: 'fa fa-sign-out fa-2x', method: :delete %></li> 
          <% else %>
            <li><%= link_to '', new_user_registration_path, class: 'fa fa-user-plus fa-2x' %></li>
            <li><%= link_to '', new_user_session_path, class: 'fa fa-sign-in fa-2x' %></li>
          <% end %> 
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <div class="col-xs-12 footer text-center">
      <p>copyright@2016 ROBIN Inc</p>
      <a href="http://rabingaire.com.np">rabingaire.com.np</a>
    </div>
  </body>
</html>
